---
---

{% assign v = page.version | replace: ".", "_" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wahtson - Page Loading...</title>
    <link rel="stylesheet" href="/style/main.css" />
    <link rel="stylesheet" href="/style/wiki.css" />
</head>
<body>
    <div id="top">
        <p>Wahtson Wiki</p>
        <a href="https://github.com/nanaian/wahtson"><p>Github</p></a>
        <a href="https://npmjs.org/package/wahtson"><p>Install</p></a>
        <a href="/"><p>Home</p></a>
    </div>
    <div id="sidebar"></div>
    <main></main>
    <script>
        const version = "{{ page.version }}"
        const path = "{{ page.path }}"
        const data = {{ site.data[v][page.path] | jsonify }}
        const versions = {{ site.data.versions | jsonify }}
    </script>
    <script src="/script/wiki.js"></script>
</body>
</html>
